{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="assets/profil.css">

<div class="presentation">
    <p>Bienvenue</p>
    <p><span class="user">{{ user.pseudo }} </span>!</p>
</div>
<div class="">
</div>
{% endblock %}
