{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>PROFIL</h1>
    <p>Salut {{ user.pseudo }}</p>
</div>
{% endblock %}
