{% extends 'base.html.twig' %}
{% block nav %}{% endblock %}
{% block antiBootstrap %}{% endblock %}
{% block style %}<link rel="stylesheet" href="assets/connexion.css">{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form class="bandeauForm" method="post">
        <div class="decoForm">
            <img class="narutoInscription" src="assets/img/Connexion/narutoConnexion.png">
        </div>
        <div class="maForm">
            <div class="titreForm">
                <h1>Heureux de vous revoir !</h1>
                <hr class="hrTop">
            </div>
            <div class="lesInputs">
                <label for="inputEmail">Email :</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="" placeholder="Ex: jean.dupond@gmail.com" autocomplete="email" required autofocus>
                
                <label for="inputPassword">Mot de passe :</label>
                <input type="password" name="password" id="inputPassword" class="" placeholder="- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -" autocomplete="current-password" required>
                    
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            <div class="lesRedirections">
                <hr class="hrBottom">
                {% if error %}
                    <div class="erreur">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <button class="btnConnexion" type="submit">Je me connecte !</button>
                <a href="{{ path('app_register') }}">Je n'ai pas encore de compte</a>
            </div>
        </div>
        <div class="decoForm">
            <img class="luffyInscription" src="assets/img/Connexion/luffyConnexion.png">
        </div>
    </form>
{% endblock %}
