{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<link rel="stylesheet" href="assets/index.css">

<h1 class="titrePage">Bibliothèque</h1>

<div class="lesAnimes">

    {% for anime in animes %}

        <div class="unAnime">

            <img class="imgCarteAnime" src="{{anime.image}}" alt="Illustration Animé">

            <div class="InfosCarteAnime">
                <h5 class="titreCarteAnime">{{anime.nom}}</h5>
                <p class="synopsisCarteAnime">{{anime.synopsis}}</p>
                <a href="#" class="btnCarteAnime">Voir l'anime</a>
            </div>

        </div>
        
    {% endfor %}

</div>

{% endblock %}
