@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* :root{
    --cl1: #f4f1de;
    --cl2: #ffb116;
    --cl3: #3f7caf;
    --cl4: #004792;
    --cl5: #003051;
    --cl6: #0E103D;
} */

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    background: var(--cl1);
}


.bandeauForm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.decoForm{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.narutoInscription{
    height: 600px;
}

.luffyInscription{
    height: 500px;
}

.maForm{
    flex-basis: 22%;
    background: var(--cl2);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    border-left: 5px solid var(--cl4);
    border-right: 5px solid var(--cl4);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.titreForm{
    /* border: 1px solid red; */
    width: 90%;
    text-align: center;
    margin-top: 10px;
    color: var(--cl5);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
}

.hrTop{
    width: 90%;
    margin-top: 15px;
    border: 1px solid var(--cl4);
}

.hrBottom{
    width: 90%;
    margin-bottom: 18px;
    border: 1px solid var(--cl4);
}

.lesInputs{
    flex-basis: 35%;
    /* border: 1px solid red; */
    color: var(--cl5);
    width: 90%;
}

.lesInputs input{
    width: 99%;
    height: 25px;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-left: 5px;
    box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.1);
}

.lesInputs label{
    font-weight: 600;
}

.lesRedirections{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lesRedirections a{
    color: var(--cl5);
    margin-top: 10px;
}

.erreur{
    margin-bottom: 10px;
    color: red;
    background: var(--cl1);
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.btnConnexion{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--cl5);
    background: var(--cl4);
    color: var(--cl1);
    font-weight: 700;
    transition: 0.5s;
}

.btnConnexion:hover{
    outline-offset: -2px;
    outline: 4px solid var(--cl3);
    color: var(--cl4);
    background-color: var(--cl1);
    box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

