@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* :root{
    --cl1: #f4f1de;
    --cl2: #ffb116;
    --cl3: #3f7caf;
    --cl4: #004792;
    --cl5: #003051;
} */

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    background: var(--cl1);
}

.bandeauForm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.decoForm{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.narutoInscription{
    height: 600px;
}

.luffyInscription{
    height: 500px;
}

.maForm{
    flex-basis: 22%;
    background: var(--cl3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    border-left: 5px solid var(--cl5);
    border-right: 5px solid var(--cl5);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.titreForm{
    /* border: 1px solid red; */
    width: 90%;
    text-align: center;
    margin-top: 10px;
    color: var(--cl1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hrTop{
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid var(--cl4);
}

.hrBottom{
    width: 80%;
    margin-bottom: 18px;
    border: 1px solid var(--cl4);
}

.lesInputs{
    flex-basis: 60%;
    /* border: 1px solid red; */
    color: var(--cl5);
    width: 90%;
}

.lesInputs input{
    width: 99%;
    height: 25px;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-left: 5px;
    box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.1);
}

.lesInputs textarea{
    max-width: 99%;
    min-width: 99%;
    max-height: 80px;
    min-height: 80px;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-left: 5px;
    box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.1);
}

.lesInputs label{
    font-weight: 600;
}

.lesInputs .checkBox{
    margin-bottom: 0px;
    margin-left: 15px;
    width: 20px;
    box-shadow:none;
}

.lesRedirections{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redirectBottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnIModifierProfil{
    width: 35%;
    height: 40px;
    border: 1px solid var(--cl1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    border-radius: 10px;
    background: var(--cl4);
    color: var(--cl1);
    transition: 0.5s;
}

.btnIModifierProfil:hover{
    outline-offset: -3px;
    outline: 4px solid var(--cl5);
    color: green;
    background-color: var(--cl1);
    box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    transition: 0.3s;
}

.retourBtn{
    width: 35%;
    height: 40px;
    border: 1px solid var(--cl1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    text-decoration: none;
    border-radius: 10px;
    background: var(--cl4);
    color: var(--cl1);
    transition: 0.5s;
}

.retourBtn:hover{
    outline-offset: -3px;
    outline: 4px solid var(--cl5);
    color: red;
    background-color: var(--cl1);
    box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    transition: 0.3s;
}
