@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* :root{
    --cl1: #f4f1de;
    --cl2: #ffb116;
    --cl3: #3f7caf;
    --cl4: #004792;
    --cl5: #003051;
    --cl6: #0E103D;
} */

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    background: var(--cl3);
}


/* ------------------------------ Introduction ------------------------------ */

.presentation{
    display: flex;
    justify-content: center;
    font-size: larger;
}

.presentation p{
    margin: 2px;
}

#bvnUser{
    font-weight: 100;
}


/* ------------------------------Bandeau de profil------------------------------ */

.tmpsVisioClassementImgProfil{
    display: flex;
    justify-content: space-between;
}

.tmpsVisioClassement{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: fit-content;
}

/* ------------------------------Carte de profil-------------------------------- */

.profilCarte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 30px;
    padding: 15px;
    max-width: 250px;
    max-height: 370px;
    border-left: 4px solid var(--cl6);
    border-right: 4px solid var(--cl6);
    border-radius: 20px;
    background: var(--cl1);
}

.imgProfil img{
    width: 150px;
    border-radius: 50%;
    border: 2px solid var(--cl5);
}

.bandeauLogos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logoFavoris a{
    color: red;
}

.logoModif a{
    color: black;
}

.hrProfil{
    width: 80%;
    border: 1px solid var(--cl5);
}


/* ----------------------------------BIOGRAPHIE---------------------------------- */

.biographie{
    margin-top: 10px;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.bioTxt{
    font-weight: 500;
    text-align: center;
    text-justify: distribute-all-lines;
}

/* -----------------------------TEMPS VISIONNAGE---------------------------- */

.tmpsVisioClassement{
    border-left: 4px solid var(--cl6);
    border-right: 4px solid var(--cl6);
    border-radius: 20px;
    width: 250px;
    max-height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--cl1);
}

.tmpsVisionnage{
    text-align: center;
    margin-top: 10px;
    margin-bottom: -15px;
    font-weight: bold;
}

.hrClassement{
    width: 75%;
    border: 1px solid var(--cl5);
}


/* --------------------------------CLASSEMENT-------------------------------- */

.classement{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 10px;
}

.unUserClassement{
    display: flex;
    justify-content: space-between;
}

.totalEp{
    font-weight: bold;
}

/* ----------------------------ANIME EN COURS--------------------------- */

.lesAnimes{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hEnCours{
    margin: 25px;
    margin-bottom: 5px;
    margin-left: 40px;
    color: var(--cl1);
    font-weight: 700;
}

.hFinis{
    margin: 25px;
    margin-bottom: 5px;
    margin-left: 40px;
    color: var(--cl5);
    font-weight: 700;
}

.hrContainer{
    width: 40%;
    border: 2px solid var(--cl2);
    opacity: 1;
}

.lesAnimsEnCours{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--cl4);
    border-radius: 50px 50px 0 0;
}

.containerEnCours{
    display: flex;
    gap: 40px;
    padding-left: 15px;
    overflow: scroll;
}

.backFinis{
    background: var(--cl4);
}

.lesAnimsFinis{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--cl3);
    border-radius: 50px 50px 0 0;
    margin-top: 30px;
    min-height: 300px;
}

.containerFinis{
    display: flex;
    gap: 40px;
    padding-left: 15px;
    flex-wrap: wrap;
}

.unAnime{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    margin: 15px;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.3);
    background: var(--cl1);
    border-left: 4px solid var(--cl2);
    border-right: 4px solid var(--cl2);
}

.imgCarteAnime{
    width: 230px;
    max-height: 230px;
}

.InfosCarteAnime{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.btnCarteAnime{
    border-left: 4px solid var(--cl2);
    border-right: 4px solid var(--cl2);
    padding: 5px 10px 5px 10px;
    border-radius: 12px;
    background: var(--cl3);
    color: var(--cl1);
    text-decoration: none;
    transition: 0.4s;
}

.btnCarteAnime:hover{
    border-left: 4px solid var(--cl6);
    border-right: 4px solid var(--cl6);
    background: var(--cl2);
    color: var(--cl6);
    transition: 0.5s;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
}