@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* :root{
    --cl1: #f4f1de;
    --cl2: #ffb116;
    --cl3: #3f7caf;
    --cl4: #004792;
    --cl5: #003051;
    --cl6: #0E103D;
} */

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    background: var(--cl1);
}


/* ------------------------------ Introduction ------------------------------ */

.presentation{
    display: flex;
    justify-content: center;
    font-size: larger;
}

.presentation p{
    margin: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bvnUser{
    font-weight: 100;
}


/* ------------------------------Bandeau de profil------------------------------ */

.tmpsVisioClassementImgProfil{
    display: flex;
    justify-content: space-between;
}

.tmpsVisioClassement{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

/* ------------------------------Carte de profil-------------------------------- */

.profilCarte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 30px;
    padding: 15px;
    max-width: 250px;
    max-height: 370px;
    border: 4px ridge #0E103D;
    border-radius: 20px;
}

.imgProfil img{
    width: 150px;
    border-radius: 50%;
    border: 2px solid var(--cl5);
}

.bandeauLogos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.logoFavoris a{
    color: red;
}

.logoModif a{
    color: black;
}

.hrProfil{
    width: 80%;
    border: 1px solid var(--cl5);
}


/* ----------------------------------BIOGRAPHIE---------------------------------- */

.biographie{
    margin-top: 10px;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.bioTxt{
    font-weight: 500;
    text-align: center;
    text-justify: distribute-all-lines;
}

/* -----------------------------TEMPS VISIONNAGE---------------------------- */

.tmpsVisioClassement{
    border: 4px ridge #0E103D;
    border-radius: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tmpsVisionnage{
    text-align: center;
    margin-top: 10px;
}


/* --------------------------------CLASSEMENT-------------------------------- */

.select-menu {
    position: relative;
    width: 225px;
    margin: 5px;
}

.select-menu .select-btn {
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select-menu .options {
    position: absolute;
    width: 200px;
    overflow-y: auto;
    max-height: 295px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
}

.select-menu .options .option {
    display: flex;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.select-menu .options .option:hover {
    background: #dfbfbf;
}

.select-menu .options .option i {
    font-size: 25px;
    margin-right: 12px;
}

.select-menu .options .option .option-text {
    font-size: 12px;
    color: #333;
    text-align: center;
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}
  
.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}
  
@keyframes fadeInUp {
    from {
      transform: translate3d(0, 30px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate3d(0, 20px, 0);
      opacity: 0;
    }
}

.options li {
    pointer-events: none;
}

/* ----------------------------ANIME EN COURS--------------------------- */

.lesAnimes{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hEnCours{
    margin: 25px;
    margin-bottom: 5px;
    margin-left: 40px;
    color: var(--cl1);
}

.hFinis{
    margin: 25px;
    margin-bottom: 5px;
    margin-left: 40px;
    color: var(--cl5);
}

.hrContainer{
    width: 40%;
    border: 2px solid var(--cl2);
    opacity: 1;
}

.lesAnimsEnCours{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--cl4);
    border-radius: 50px 50px 0 0;
}

.containerEnCours{
    display: flex;
    gap: 40px;
    padding-left: 15px;
}

.backFinis{
    background: var(--cl4);
}

.lesAnimsFinis{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--cl3);
    border-radius: 50px 50px 0 0;
    margin-top: 30px;
}

.containerFinis{
    display: flex;
    gap: 40px;
    padding-left: 15px;
}

.unAnime{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 7px ridge var(--cl1);
    width: 280px;
    max-height: 450px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.3);
    background: var(--cl4);
}

.unAnimeEnCours{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    max-height: 450px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.3);
    background: var(--cl1);
    border-left: 4px solid var(--cl2);
    border-right: 4px solid var(--cl2);
}

.imgCarteAnime{
    width: 230px;
    max-height: 230px;
}

.InfosCarteAnime{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.btnCarteAnime{
    border: 1px solid #000;
    padding: 5px 10px 5px 10px;
    border-radius: 12px;
    background: var(--cl3);
    color: #000;
    text-decoration: none;
    transition: 1.2s;
}

.btnCarteAnime:hover{
    background: #F4F1DE;
    color: #0E103D;
    outline: 3px ridge #0E103D;
    transition: 0.6s;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.6);
}